
extends base

block append scripts 
    script(src="/js/productDetails.js") 

block content
    main
        .card-wrapper
            .card-product
                // card left
                .product-imgs
                    .img-display
                        .img-showcase
                            img(src=`/img/product/${product.images[0]}`, alt='')
                            img(src=`/img/product/${product.images[1]}`, alt='')
                            img(src=`/img/product/${product.images[2]}`, alt='')
                            img(src=`/img/product/${product.images[3]}`, alt='')
                    .img-select
                        .img-item
                            a(href='#', data-id='1')
                                img(src=`/img/product/${product.images[0]}`, alt='')
                        .img-item
                            a(href='#', data-id='2')
                                img(src=`/img/product/${product.images[1]}`, alt='')
                        .img-item
                            a(href='#', data-id='3')
                                img(src=`/img/product/${product.images[2]}`, alt='')
                        .img-item
                            a(href='#', data-id='4')
                                img(src=`/img/product/${product.images[3]}`, alt='')
                // card right
                .product-content
                    h2.product-title=product.name
                    .product-detail
                        h2 about this property: 
                        p=product.description
                            
                       
                        ul
                            li
                                i.fa-solid.fa-landmark
                                |  Land area: 
                                span=`${product.landArea} dhur`
                            
                            li
                                i.fa-solid.fa-location-pin
                                |  Location: 
                                span=`${product.location}`
                            li
                                i.fa-solid.fa-road
                                |  Road width: 
                                span=`${product.roadWidth}m`
                                //- if type is house
                            if product.type==='house'

                                li
                                    i.fa-solid.fa-house
                                    |  Plinth area: 
                                    span=`${product.plinthArea} sq ft`
                                li
                                    i.fa-solid.fa-building
                                    |  Floor: 
                                    span=`${product.floors} storey`
                                li
                                    i.fa-solid.fa-bed
                                    |  Bedroom: 
                                    span=`${product.bedroom}`
                                li
                                    i.fa-solid.fa-shower
                                    |  Bathroom: 
                                    span=`${product.bathroom}`
                                li
                                    i.fa-solid.fa-equals
                                    |  Total rooms: 
                                    span=`${product.totalRoom}`
                    .social-links
                        p Share At: 
                        a(href='#')
                            i.fab.fa-facebook-f
                        a(href='#')
                            i.fab.fa-twitter
                        a(href='#')
                            i.fab.fa-instagram
                        a(href='#')
                            i.fab.fa-whatsapp
                        a(href='#')
                            i.fab.fa-pinterest
